{
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "quoteProps": "as-needed",
  "semi": false,
  "useTabs": false,
  "tabWidth": 2,
  "printWidth": 80,
  "endOfLine": "auto",
  "singleQuote": false,
  "trailingComma": "es5",
  "jsxBracketSameLine": true,
  "jsxSingleQuote": true
}
